.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.crsl-main{
  display: flex;
  align-items: center;
  display: flex;
  gap: 20px;
  height: 400px;
}
.App{
  display: flex;
    flex-direction: column;
    /* gap: 134px */
}
.text-sec{
  text-align: left;
}
img{
  height: auto;
  width: 60%;
}
svg{
  cursor: pointer;
}
.heading{
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  color: black;
  /* text-align: left; */
}
.sec-2{
  display: flex;
  margin-top: 80px;
  padding: 0px 90px
}
.left-sec{
  text-align: left;
  padding-right: 85px;
  display: flex;
  align-items: center;
  /* padding: 0px 70px */
}
.navbar-brand{
  margin-left: 120px;
}